extends layout


block content
    #page-content-wrapper
        .header.row
            .col-md-8
                a.glyphicon.glyphicon-align-justify#menu-toggle
                h3.categoryName 关于本站
        .container-fluid.author
            ul.list-unstyled
                li 今日访问数量: #{count}